.song-image {
  width: 150px;
  height: 100px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 10px;
}

.song-container {
  display: flex;
  align-items: center;
}

.genre {
  color: #3b82f6;
}

.name-genre-container {
  margin-left: 20px;
}
